body{
    background-image: linear-gradient(to bottom right, rgb(199, 13, 13), rgb(16, 16, 16));
    background-repeat: no-repeat;
    padding-left: 13%;
    padding-right: 13%; 
}
.Back{background-color: rgb(133, 13, 17);}
.back2{background-color: rgb(33, 32, 34); padding-bottom: 2px;}
.back3{background-color: white; opacity: 0.98;}
.backExtra{background-color: rgb(134, 23, 23); margin-bottom: 10px; margin-top: 10px;}

.divTopo{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.stiFlex{display: flex; flex-direction: row;}
.stiFlex-itens{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-end;
}
.stiFlex-p1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 240px;
    margin-left: 28px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.imagem{
    padding-left: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 150px;
}
#container-img-ifal{width: 100%; position: relative;}
#container-img-ifal .imgIfal{width: 250px; margin-left: 50%; background-color: #E0EEEE;}

#container-img{width: 100%; position: relative;}
#container-img img{width: 100%;}
img{width: 100%;}
    
.ButtonLinkTop:link, .ButtonLinkTop:visited {
    background-color: rgb(133, 13, 17);
    border: 10px;
    border-radius: 10px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 4px 30px;
    text-align: justify;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
  
.ButtonLinkTop:hover, .ButtonLinkTop:active {
    background-color: rgb(255, 255, 255);
    color: black;
}

.itemComprar:link, .itemComprar:visited {
    background-color: rgba(179, 24, 29, 0.832);
    border: 10px;
    border-radius: 3px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 4px 30px;
    text-align: justify;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
  
.itemComprar:hover, .itemComprar:active {
    background-color: rgb(4, 4, 4);
    color: rgb(254, 250, 250);
}

.buttonsTop{
    display: flex;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding-left: 5%;
    width: 50px;
    height: 40px;
}
#divBusca{
    background-color:#E0EEEE;
    border:solid 2px #0000007d;
    border-radius:10px;
    width:680px;
    height:32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 80px;
}

#txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-size:18px;
    border:none;
    height:32px;
    width:191px;
}
  
#btnBusca{
    color: aliceblue;
    border:none;
    float:left;
    height: 33px;
    border-radius:0 7px 7px 0;
    width: 75px;
    font-weight:bold;
    background:rgb(33, 32, 34);
}
.InfoText{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 30px;
    color: white;
    text-shadow: black 0.1em 0.1em;
    animation: animate 1.5s linear infinite;
}
@keyframes animate {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.7;
    }

    100% {
        opacity: 0;
    }
}
.tittleItem{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 19px;
    text-align: center;
    margin-bottom: 8px;
}

.itLojCadFlex{
    display: flex;
    align-items: center;
}

.itensLoja{
    width: 300px; 
}
.ilc01 {
    color: rgb(0, 0, 0);
}
.ilc001{
    font-size: 13px;
}
.itLojCad011{
    margin-bottom: 8px;
}
.itLojCad012{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: green;
    font-size: 24px;
    font-weight: bolder;
    margin-bottom: 8px;
}

.itensLoja_cadeira2{
    width: 350px;
}
.itensLoja_mouse2{
    width: 230px; 
}
.itensLoja_note2{
    width: 250px;
}
